<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("./partials/partial_2") %>
  </head>
  <body>
    <%- include("./partials/partial_1") %>
    <div class="new_main">
      <h1>MOST SOUGHT CODING SKILLS</h1>
      <p>Most in-demand coding skills based on job advertisements on <a href="https://www.linkedin.com/">LinkedIN</a> USA job vacancy pool as of August 20, 2021 </p>
      <p>These coding skills are mentioned either as an <strong>advantage</strong> for the job or as a <strong>requirement</strong> </p>
      <%- include("./partials/softwarestats/21_08_20") %>
      <br>
      <%- include("./partials/partial_a1") %>
      <%- include("./partials/partial_4") %>
    </div>

  </body>
</html>
